/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-expansion-panel {
  background: #f2f2f2 !important;
  margin-bottom: 10px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

@media only screen and (max-width: 600px) {
  .sidenav{
    width: 30%;
}
.shift{
  padding-left: 30% !important;
}
}
